# Virtual environment
.venv/
venv/

# Environment variables / API keys
.env

# IDE files
.vscode/
.idea/

# Large datasets
data/raw/
data/processed/

# OS files
.DS_Store
Thumbs.db




pandas
fastapi
uvicorn
python-multipart
requests
opencv-python
zxing-cpp
numpy
scikit-learn
joblib
opencv-python
zxing-cpp
requests